/* Wide */

  @media screen and (max-width: 1680px) {

    /* Basic */

      body, input, select, textarea {
        font-size: 13pt;
      }

    /* Banner */

      #banner {
        padding: 10em 0 18em 0;
      }

  }

/* Normal */

  @media screen and (max-width: 1280px) {

    /* Basic */

      body, input, select, textarea {
        font-size: 11pt;
      }

    /* Header */

      .dropotron.level-0 {
        font-size: 1em;
      }

    /* Banner */

      #banner {
        background-attachment: scroll;
      }

        #banner h2 {
          font-size: 3.5em;
        }

  }

/* Narrow */

  @media screen and (max-width: 980px) {

    /* Basic */

      body, input, select, textarea {
        font-size: 11pt;
      }

  }

/* Narrower */

  #navPanel, #navButton {
    display: none;
  }

  @media screen and (max-width: 840px) {

    /* Basic */

      html, body {
        overflow-x: hidden;
      }

      body, input, select, textarea {
        font-size: 11pt;
      }

      h2 br, h3 br, h4 br, h5 br, h6 br {
        display: none;
      }

    /* Section/Article */

      header br {
        display: none;
      }

      header.major {
        padding: 0 4em;
      }

    /* Box */

      .box {
        padding: 3em 2em;
      }

        .box.features > section {
          padding: 3em 2em;
        }

        .box .image.featured {
          margin-left: -2em;
          width: calc(100% + 4em);
        }

          .box .image.featured:first-child {
            margin-bottom: 3em;
            margin-top: -3em;
          }

          .box .image.featured:last-child {
            margin-bottom: -3em;
            margin-top: 3em;
          }

    /* Header */

      #page-wrapper {
        padding-top: 0;
      }

      #header {
        display: none;
      }

  }

/* Mobile */

  @media screen and (max-width: 736px) {

    /* Basic */

      body, input, select, textarea {
        font-size: 11pt;
      }

      h2 {
        font-size: 1.75em;
        line-height: 1.35em;
        letter-spacing: -0.025em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1em;
      }

    /* Section/Article */

      header.major {
        padding: 1em;
      }

        header.major h2, header.major p {
          padding-left: 0.5em;
          padding-right: 0.5em;
        }

    /* Box */

      .box {
        margin: 1em;
        overflow-x: hidden;
        padding: 2em 2em !important;
      }

        .box.features .features-row {
          border-top: 0;
          padding: 0;
        }

          .box.features .features-row section {
            border: 0;
            border-top: solid 1px #e5e5e5 !important;
            float: none;
            margin: 2em 0 0 0 !important;
            padding: 2em 0 0 0 !important;
            width: 100%;
          }

          .box.features .features-row:first-child section:first-child {
            border-top: 0 !important;
            margin-top: 0 !important;
            padding-top: 0 !important;
          }

        .box .image.featured {
          margin-left: -2em;
          width: calc(100% + 4em);
        }

          .box .image.featured:first-child {
            margin-bottom: 2em;
            margin-top: -2em;
          }

          .box .image.featured:last-child {
            margin-bottom: -2em;
            margin-top: 2em;
          }

    /* Banner */

      #banner {
        padding: 4em 0;
      }

        #banner h2 {
          font-size: 2.25em;
        }

        #banner p {
          font-size: 1.25em;
        }

    /* Main */

      #main {
        padding: 4em 0 0 0;
      }

        #main > header {
          margin: 0 2em 1.5em 2em;
        }

          #main > header h2 {
            font-size: 2em;
          }

          #main > header p {
            font-size: 1em;
            padding-bottom: 1em;
          }

      body.landing #main {
        padding: 0;
        margin-top: 0;
      }

    /* Footer */

      #footer {
        padding: 4em 0;
      }

        #footer .copyright li {
          border-left: 0;
          display: block;
          line-height: 2em;
          margin-left: 0;
          padding-left: 0;
        }

  }

/* Mobile (Portrait) */

  @media screen and (max-width: 480px) {

    /* Basic */

      html, body {
        min-width: 320px;
      }

      body, input, select, textarea {
        font-size: 11pt;
      }

    /* Section/Article */

      header.major {
        padding: 0;
      }

    /* List */

      ul.actions {
        margin: 0 0 2em 0;
      }

        ul.actions li {
          display: block;
          padding: 1em 0 0 0;
          text-align: center;
          width: 100%;
        }

          ul.actions li:first-child {
            padding-top: 0;
          }

          ul.actions li > * {
            width: 100%;
            margin: 0 !important;
          }

            ul.actions li > *.icon:before {
              margin-left: -2em;
            }

        ul.actions.small li {
          padding: 0.5em 0 0 0;
        }

          ul.actions.small li:first-child {
            padding-top: 0;
          }

    /* Box */

      .box {
        border-radius: 0;
        box-shadow: none;
        margin: 1em 0 0 0;
        padding: 3em 1em !important;
      }

        .box.features .features-row section {
          margin: 3em 0 0 0 !important;
          padding: 3em 0 0 0 !important;
        }

        .box .image.featured {
          border-radius: 0;
          margin-left: -1em;
          width: calc(100% + 2em);
        }

          .box .image.featured img {
            border-radius: 0 !important;
          }

          .box .image.featured:first-child {
            margin-bottom: 3em;
            margin-top: -3em;
          }

          .box .image.featured:last-child {
            margin-bottom: -3em;
            margin-top: 3em;
          }

    /* Banner */

      #banner {
        padding: 5em 1em 4em 1em;
      }

    /* Main */

      #main > .box:first-child {
        margin-top: 0;
      }

    /* CTA */

      #cta {
        padding: 2.5em 1em 3em 1em;
      }
  }

  /* 2 COL */
  .two-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .main-col {
      order: 1;
      margin-right: 5%;
      flex: 100%;

      @media (min-width: 500px) {
        flex: 2;
      }
    }
    aside {
      order: 2;

      @media (min-width: 500px) {
        flex: 1;
      }
    }
  }