#intro {
  background: #00b9d5;
  padding: 5.5em 0;

  @media screen and (max-width: 768px) {
    padding: 6em 0 2em;
  }

  article {
    display: block;
    height: auto;
    position: relative;

    @media screen and (max-width: 768px) {
      position: inherit;
    } 

    span {
      bottom: 0;
      position: absolute;
      right: 0;
      top: -33%;
      display: block;

      @media screen and (max-width: 768px) {
        background: #00b9d5;
        box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        height: 55px;
        top: inherit;
        max-width: 100%;
        position: fixed;
        width: 100%;
        z-index: 1000;
      } 

      a {
        display: block;
        width: 100%;

        @media screen and (max-width: 768px) {
          margin: .4em auto;
          // max-width: 140px;
          max-width: 316px;
          text-align: center;
          top: auto;
          transform: translateY(0);
          -webkit-transform: translateY(0);
        }
        
        &:hover {
          opacity: .9;
        }

        img {
          height: auto;
          max-width: 160px; //270px;
          width: 100%;
          position: relative;
          float: left;

          @media screen and (max-width: 768px) {
            width: 24%;
            position: relative;
            float: left;
            top: -2.85em;
            display: block;
            left: 4em;
          }
        }

        svg {
          margin-left: -6.5em;
          margin-top: 4em;
          
          @media screen and (max-width: 1200px) {
            margin-left: -9em;
            margin-top: 5.9em;
          }

          @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-top: -1.5em;
            float: left;
            display: block;
            left: 0;
            width: 55%;
          }
        } 
      }
    }

    div {
      display: block;
      width: 65%;
      
      @media screen and (max-width: 1024px) {
        width: 58%;
      }
      
      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center; 
      }

      h2 {
        color: white;
        font-size: 2.35em;
        @media screen and (max-width: 750px) {
          font-size: 1.6em; 
        }
      }

      p {
        font-size: 1.2em;
        letter-spacing: .02em;
        line-height: 1.8em; 

        @media screen and (max-width: 1200px) {
          font-size: 1.4em;
          line-height: 1.8em; 
        }
        
        @media screen and (max-width: 768px) {
          font-size: 1.6em;
          line-height: 2em; 
        }

        @media screen and (max-width: 750px) {
          font-size: 1.4em;
          line-height: 1.55em; 
        }
      } 
    }
  }
}

/* 
#watch {
  background: #eaeaea;
  padding: 6em 0;

    @media screen and (max-width: 768px) {
      padding: 4em 0;
    }

  h2 {
    color: #00b9d5;
    font-size: 2em;
    margin-bottom: 1.5em;

    @media screen and (max-width: 768px) {
      font-size: 1.6em;
    }

  }

  .video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;

    iframe,
    object,
    embed {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%; 
    }
  }
} 
*/

#features {
  background-color: white;
  padding: 6em 0;

  @media screen and (max-width: 1024px) {
    padding: 4em 0;
  }

  @media screen and (max-width: 768px) {
    padding: 4em 0;
  }

  h2 {
    font-size: 2.35em;
    margin-bottom: 1.5em; 

    @media screen and (max-width: 768px) {
      font-size: 2.35em;
    }

    @media screen and (max-width: 750px) {
      font-size: 1.6em;
    }
  }

  div {
    display: inline-block;
    float: right;
    margin: 3em 0;
    width: 47%; 

    @media screen and (max-width: 1024px) {
      margin: 2em 0;
      width: 100%;
    }

    &:nth-child(even) {
      float: left;

      @media screen and (max-width: 1024px) {
        float: right;
      }
    }

    span {
      border-radius: 10%; //100%;
      float: left;
      margin-right: 5%;
      overflow: hidden;

      @media screen and (max-width: 1373px) {
        margin-right: 15%;
      }

      @media screen and (max-width: 1229px) {
        margin-right: 5%;
      }
      
      @media screen and (max-width: 768px) {
        margin-bottom: 2%;
      }
      @media screen and (max-width: 750px) {
        margin-bottom: 4%;
      }



      img {
        display: block;

        @media screen and (max-width: 1024px) {
          height: auto;
          max-width: 150px;
          width: 100%;
        }

        @media screen and (max-width: 750px) {
          max-width: 100px;
        }
      }
    }

    h3 {
      font-size: 1.5em;
      font-weight: 800;
      margin: 2em 0 0;
      text-transform: capitalize;

      @media screen and (max-width: 1024px) {
        font-size: 1.8em;
        margin-top: 0.33em;
      }

      @media screen and (max-width: 750px) {
        font-size: 1.4em;
        margin-top: 0.5em;
      }
    }

    p {
      color: #8b8888;
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.8em;

      @media screen and (max-width: 1200px) {
        font-size: 1.4em;
        margin-top: 0.5em;
      }

      @media screen and (max-width: 750px) {
        font-size: 1.2em;
        margin-top: 0.5em;
      }

    }
  }
}

#newsletter {
  background: #00b9d5;
  padding-bottom: 5%;
  position: relative; 

  @media screen and (max-width: 768px) {
    padding-bottom: 12%;
  }
  
  article {
    display: block; 
  
    > div {
      padding: 4.5em 0;
      width: 100%;
      
      @media screen and (max-width: 768px) {
        padding: 4em 0; 
      }
      
      h2 {
        color: #fff;
        font-size: 2.35em;

        @media screen and (max-width: 768px) {
          text-align: center;
          font-size: 2.35em;
        }

        @media screen and (max-width: 750px) {
          text-align: center;
          font-size: 1.6em;
        } 
      }

      p {
        font-size: 1.2em;
        letter-spacing: .02em;
        line-height: 1.8em; 

       @media screen and (max-width: 1200px) {
         font-size: 1.4em;
         line-height: 1.5em;
       }

        @media screen and (max-width: 768px) {
          font-size: 1.6em;
          line-height: 2em;
          text-align: center;
        }

        @media screen and (max-width: 750px) {
          text-align: center;
          font-size: 1.4em;
          line-height: 1.55em;
        }
      }

      form input[type=text], form input[type=email] {
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      form input[type=submit] {
        @media screen and (max-width: 768px) {
          font-size: 1.8em;
          margin-right: auto;
          padding: 0.7em 0;
          width: 100%;
        }

        @media screen and (max-width: 750px) {
          font-size: 1.4em;
        }
      }
    }
  }
}