/* Header */

  #home #header nav ul > li:first-child {
    display: none;
  }

  #page-wrapper {
    padding-top: 3em;
  }

  body.landing #page-wrapper {
    padding-top: 0;
  }

  @-moz-keyframes reveal-header {
    0% {
      top: -5em;
    }

    100% {
      top: 0;
    }
  }

  @-webkit-keyframes reveal-header {
    0% {
      top: -5em;
    }

    100% {
      top: 0;
    }
  }

  @-ms-keyframes reveal-header {
    0% {
      top: -5em;
    }

    100% {
      top: 0;
    }
  }

  @keyframes reveal-header {
    0% {
      top: -5em;
    }

    100% {
      top: 0;
    }
  }

  #header {
    background: #444;
    color: #bbb;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
   
    h1 {
      color: inherit;
      height: inherit;
      left: 1.25em;
      line-height: inherit;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      font-size: 16px;

      a {
        color: #fff;
        font-weight: 600;
        border: 0;
        background-image: url('images/seny-logo.png');
        background-repeat: no-repeat;
        background-size: 20%;
        padding-left: 5em;
        padding-top: 0.333em;
        padding-bottom: 1em;
        display: table-cell;
        vertical-align: middle;
        line-height: 3.5;
      }
    }

    nav {
      height: inherit;
      line-height: inherit;
      position: absolute;
      right: 0.75em;
      top: 0;
      vertical-align: middle;

      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        font-size: 80%;
        
        & > li {
          display: inline-block;
          padding-left: 0;

          &:first-child {
            margin-left: 0;
          }

          &.active {
            a:not(.button) {
              background-color: rgba(153, 153, 153, 0.25);
            }
          }

          & > ul {
            display: none;
          }

          a {
            display: inline-block;
            height: 2em;
            line-height: 1.95em;
            padding: 0 1em;
            border-radius: 6px;

            &:not(.button) {
              color: #fff;
              display: inline-block;
              text-decoration: none;
              border: 0;
            }

            &:not(.button).icon:before {
              color: #999;
              margin-right: 0.5em;
            }
          }

          .button {
            margin: 0 0 0 0.5em;
            position: relative;
            background-color: #e89980;
          }
        }
      }
    }

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px #999;
      color: #fff;

      &:hover {
        background-color: rgba(153, 153, 153, 0.25);
      }

      &:active {
        background-color: rgba(153, 153, 153, 0.5);
      }
    }

    .container {
      position: relative;

      h1 {
        left: 0;
      }

      nav {
        right: 0;
      }
    }

    &.reveal {
      // -moz-animation: reveal-header 0.5s;
      // -webkit-animation: reveal-header 0.5s;
      // -ms-animation: reveal-header 0.5s;
      animation: reveal-header 0.5s;
    }

    &.alt {
      // -moz-animation: none;
      // -webkit-animation: none;
      // -ms-animation: none;
      animation: none;
      background: none;
      color: rgba(255, 255, 255, 0.75);
      position: absolute;

      nav > ul > li a:not(.button).icon:before {
        color: rgba(255, 255, 255, 0.75);
      }

      nav > ul > li.active a:not(.button) {
        background-color: rgba(255, 255, 255, 0.2);
      }
      
      input[type="submit"],
      input[type="reset"],
      input[type="button"],
      .button {
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .dropotron {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
    list-style: none;
    margin: calc(-0.5em + 1px) 0 0 1px;
    padding: 0.5em 0;
    width: 11em;

    li {
      padding: 0;

      a, span {
        -moz-transition: none;
        -webkit-transition: none;
        -ms-transition: none;
        transition: none;
        border: 0;
        border-top: solid 1px #f2f2f2;
        color: inherit;
        display: block;
        padding: 0.15em 1em;
      }

      &:first-child > a,
      &:first-child > span {
        border-top: 0;
      }

      &.active,
      &:hover {
        & > a,
        & > span {
          background: #e89980;
          color: #ffffff;
        }
      }

      &.level-0 {
        font-size: 0.9em;
        margin: 1em 0 0 0;

        &:before {
          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background: #fff;
          border: solid 1px rgba(229, 229, 229, 0.5);
          border-bottom: 0;
          border-right: 0;
          box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
          content: '';
          display: block;
          height: 0.75em;
          position: absolute;
          right: 1.25em;
          top: -0.375em;
          width: 0.75em;
          z-index: 0;
        }
      }
    }
  }


 
