@-webkit-keyframes graph {
  0% {
    background-size: 110% 0; }
  70% {
    background-size: 110% 85%; }
  100% {
    background-size: 110% 80%; } }
@-moz-keyframes graph {
  0% {
    background-size: 110% 0; }
  70% {
    background-size: 110% 85%; }
  100% {
    background-size: 110% 80%; } }
@keyframes graph {
  0% {
    background-size: 110% 0; }
  70% {
    background-size: 110% 85%; }
  100% {
    background-size: 110% 80%; } }
@-webkit-keyframes slidein {
  0% {
    bottom: -4em;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 1; }
  100% {
    bottom: -.6em;
    opacity: 1; } }
@-moz-keyframes slidein {
  0% {
    bottom: -4em;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 1; }
  100% {
    bottom: -.6em;
    opacity: 1; } }
@keyframes slidein {
  0% {
    bottom: -4em;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 1; }
  100% {
    bottom: -.6em;
    opacity: 1; } }
@-webkit-keyframes slideout {
  0% {
    bottom: -.6em;
    opacity: 1; }
  45% {
    bottom: 0;
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    bottom: -4em;
    opacity: 0; } }
@-moz-keyframes slideout {
  0% {
    bottom: -.6em;
    opacity: 1; }
  45% {
    bottom: 0;
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    bottom: -4em;
    opacity: 0; } }
@keyframes slideout {
  0% {
    bottom: -.6em;
    opacity: 1; }
  45% {
    bottom: 0;
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    bottom: -4em;
    opacity: 0; } }
@-webkit-keyframes slideleft {
  0% {
    right: 3.8em;
    opacity: 0; }
  55% {
    opacity: 1; }
  60% {
    right: 4.8em;
    opacity: 1; }
  100% {
    right: 4.6em;
    opacity: 1; } }
@-moz-keyframes slideleft {
  0% {
    right: 3.8em;
    opacity: 0; }
  55% {
    opacity: 1; }
  60% {
    right: 4.8em;
    opacity: 1; }
  100% {
    right: 4.6em;
    opacity: 1; } }
@keyframes slideleft {
  0% {
    right: 3.8em;
    opacity: 0; }
  55% {
    opacity: 1; }
  60% {
    right: 4.8em;
    opacity: 1; }
  100% {
    right: 4.6em;
    opacity: 1; } }
@-webkit-keyframes titlepop {
  0% {
    bottom: -1em;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 1; }
  100% {
    bottom: -.6em;
    opacity: 1; } }
@-moz-keyframes titlepop {
  0% {
    bottom: -1em;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 1; }
  100% {
    bottom: -.6em;
    opacity: 1; } }
@keyframes titlepop {
  0% {
    bottom: -1em;
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 1; }
  100% {
    bottom: -.6em;
    opacity: 1; } }