.front-page {
	article.post {

		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: solid 2px #e5e5e5;

		&:last-child {
			// border-bottom: 0;
		}

		header.entry-header {
			h3.entry-title {
				a {
					border-bottom: 0;

					&:hover {
						border-bottom: dotted 1px;
						color: #e89989;
					}
				}
			}
			
			.entry-meta {
				margin-bottom: 5px;
				font-size: 12px;
			}
		}

		footer.entry-footer {
			a {
				border-bottom: 0;

				&:hover {
					border-bottom: dotted 1px;
					color: #e89989;
				}
			}
		}
	}
}

