.widget-area {
	section {
		margin-bottom: 30px;
	}
}

.widget_ee-upcoming-events-widget {
	h2.widget-title {
		font-size: 1.75em;
		line-height: 1.5em;
		letter-spacing: -0.025em;

		a {
			border-bottom: none;
		}
	}

	ul {
		padding: 0;
		margin: 0;

		h5 {
			margin-top: 0;
			font-size: 1.1em;
			line-height: 1.5em;
			letter-spacing: 0;

			a {
				border-bottom: dotted 1px;
				color: #e89980; 
			}
		}

		li {
			padding-left: 0;

			.ee-event-datetimes-li {
				width: auto;
			}
		}
	}

	.ee-ical-sbmt {
		height: 2em;
    	line-height: 1.4em;
	}
}